USE [dashboard_db]
GO
/****** Object:  Table [dbo].[_migration_history]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_migration_history](
	[version] [varchar](20) NOT NULL,
	[description] [nvarchar](200) NULL,
	[applied_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](10) NOT NULL,
	[card_id] [varchar](50) NULL,
	[name] [nvarchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
	[role_id] [int] NOT NULL,
	[department_id] [varchar](10) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_code] [varchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ip] [varchar](20) NOT NULL,
	[port] [int] NOT NULL,
	[factory] [varchar](5) NULL,
	[building] [varchar](5) NULL,
	[floor] [varchar](5) NULL,
	[type_id] [int] NULL,
	[department_id] [varchar](10) NULL,
	[description] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__equipmen__3213E83F082F625C] PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment_type]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment_type](
	[type_id] [int] NOT NULL,
	[name] [varchar](10) NOT NULL,
	[protocol] [varchar](10) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error_list]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error_list](
	[error_id] [int] IDENTITY(1,1) NOT NULL,
	[error_code] [varchar](10) NOT NULL,
	[type_id] [int] NULL,
	[severity] [int] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__error_li__DA71E16CC8833C6C] PRIMARY KEY CLUSTERED 
(
	[error_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__error_li__018D511152B93B09] UNIQUE NONCLUSTERED 
(
	[error_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error_translation]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error_translation](
	[translation_id] [int] IDENTITY(1,1) NOT NULL,
	[error_code] [varchar](10) NOT NULL,
	[language_code] [varchar](10) NOT NULL,
	[message] [nvarchar](200) NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[translation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[error_code] ASC,
	[language_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inspection_record]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inspection_record](
	[inspection_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[inspection_type] [varchar](10) NOT NULL,
	[result] [bit] NOT NULL,
	[product] [varchar](50) NULL,
	[timeslot_id] [int] NULL,
	[error_code] [varchar](10) NULL,
	[description] [nvarchar](50) NULL,
	[create_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__inspecti__C3C4E743003A72D5] PRIMARY KEY CLUSTERED 
(
	[inspection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[list_type]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[list_type](
	[type_id] [int] NOT NULL,
	[name] [varchar](10) NOT NULL,
	[remark] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material](
	[material_id] [int] IDENTITY(1,1) NOT NULL,
	[material_code] [varchar](20) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[brand] [nvarchar](50) NULL,
	[specification] [nvarchar](50) NULL,
	[type_id] [int] NULL,
	[description] [nvarchar](50) NULL,
	[minimum_stock] [int] NOT NULL,
	[quantity_instock] [int] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__material__6BFE1D281D93A116] PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material_replacement_detail]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_replacement_detail](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[replacement_id] [int] NOT NULL,
	[material_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material_replacement_record]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_replacement_record](
	[replacement_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[error_code] [varchar](10) NULL,
	[create_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[replacement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material_type]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_type](
	[type_id] [int] NOT NULL,
	[name] [varchar](10) NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission](
	[permission_id] [int] NOT NULL,
	[name] [varchar](10) NOT NULL,
	[remark] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] NOT NULL,
	[name] [varchar](10) NOT NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK__role__760965CC1AC4ABF5] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permission]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permission](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_role_permission] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[timeslot_lookup]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timeslot_lookup](
	[timeslot_id] [int] NOT NULL,
	[start_at] [time](7) NOT NULL,
	[end_at] [time](7) NOT NULL,
	[label] [nvarchar](50) NULL,
	[iscrossday] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[timeslot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tuning_record]    Script Date: 2026/5/7 下午 02:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tuning_record](
	[tuning_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[tuning_type] [varchar](10) NOT NULL,
	[duration_sec] [int] NOT NULL,
	[product] [varchar](50) NULL,
	[create_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tuning_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[_migration_history] ADD  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[employee] ADD  CONSTRAINT [DF__employee__create__108B795B]  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[employee] ADD  CONSTRAINT [DF__employee__update__117F9D94]  DEFAULT (sysdatetime()) FOR [update_at]
GO
ALTER TABLE [dbo].[equipment] ADD  CONSTRAINT [DF__equipment__Creat__145C0A3F]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[equipment] ADD  CONSTRAINT [DF__equipment__Updat__15502E78]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[equipment_type] ADD  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[equipment_type] ADD  DEFAULT (sysdatetime()) FOR [update_at]
GO
ALTER TABLE [dbo].[error_list] ADD  CONSTRAINT [DF__error_lis__creat__2D27B809]  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[error_list] ADD  CONSTRAINT [DF__error_lis__updat__2E1BDC42]  DEFAULT (sysdatetime()) FOR [update_at]
GO
ALTER TABLE [dbo].[error_translation] ADD  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[error_translation] ADD  DEFAULT (sysdatetime()) FOR [update_at]
GO
ALTER TABLE [dbo].[inspection_record] ADD  CONSTRAINT [DF__inspectio__creat__5441852A]  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[material] ADD  CONSTRAINT [DF__material__minimu__1FCDBCEB]  DEFAULT ((0)) FOR [minimum_stock]
GO
ALTER TABLE [dbo].[material] ADD  CONSTRAINT [DF__material__quanti__20C1E124]  DEFAULT ((0)) FOR [quantity_instock]
GO
ALTER TABLE [dbo].[material] ADD  CONSTRAINT [DF__material__create__21B6055D]  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[material] ADD  CONSTRAINT [DF__material__update__22AA2996]  DEFAULT (sysdatetime()) FOR [update_at]
GO
ALTER TABLE [dbo].[material_replacement_record] ADD  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[material_type] ADD  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[material_type] ADD  DEFAULT (sysdatetime()) FOR [update_at]
GO
ALTER TABLE [dbo].[role_permission] ADD  CONSTRAINT [DF__role_perm__creat__76969D2E]  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[timeslot_lookup] ADD  DEFAULT ((0)) FOR [iscrossday]
GO
ALTER TABLE [dbo].[tuning_record] ADD  DEFAULT (sysdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[equipment]  WITH CHECK ADD  CONSTRAINT [FK_equipment_type] FOREIGN KEY([type_id])
REFERENCES [dbo].[equipment_type] ([type_id])
GO
ALTER TABLE [dbo].[equipment] CHECK CONSTRAINT [FK_equipment_type]
GO
ALTER TABLE [dbo].[error_list]  WITH CHECK ADD  CONSTRAINT [FK_error_list_typeid] FOREIGN KEY([type_id])
REFERENCES [dbo].[list_type] ([type_id])
GO
ALTER TABLE [dbo].[error_list] CHECK CONSTRAINT [FK_error_list_typeid]
GO
ALTER TABLE [dbo].[error_translation]  WITH CHECK ADD  CONSTRAINT [FK__error_tra__error__33D4B598] FOREIGN KEY([error_code])
REFERENCES [dbo].[error_list] ([error_code])
GO
ALTER TABLE [dbo].[error_translation] CHECK CONSTRAINT [FK__error_tra__error__33D4B598]
GO
ALTER TABLE [dbo].[inspection_record]  WITH CHECK ADD  CONSTRAINT [FK__inspectio__emplo__5629CD9C] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([employee_id])
GO
ALTER TABLE [dbo].[inspection_record] CHECK CONSTRAINT [FK__inspectio__emplo__5629CD9C]
GO
ALTER TABLE [dbo].[inspection_record]  WITH CHECK ADD  CONSTRAINT [FK__inspectio__equip__5535A963] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([equipment_id])
GO
ALTER TABLE [dbo].[inspection_record] CHECK CONSTRAINT [FK__inspectio__equip__5535A963]
GO
ALTER TABLE [dbo].[inspection_record]  WITH CHECK ADD  CONSTRAINT [FK__inspectio__error__571DF1D5] FOREIGN KEY([error_code])
REFERENCES [dbo].[error_list] ([error_code])
GO
ALTER TABLE [dbo].[inspection_record] CHECK CONSTRAINT [FK__inspectio__error__571DF1D5]
GO
ALTER TABLE [dbo].[inspection_record]  WITH CHECK ADD  CONSTRAINT [FK_timeslot_id] FOREIGN KEY([timeslot_id])
REFERENCES [dbo].[timeslot_lookup] ([timeslot_id])
GO
ALTER TABLE [dbo].[inspection_record] CHECK CONSTRAINT [FK_timeslot_id]
GO
ALTER TABLE [dbo].[material]  WITH CHECK ADD  CONSTRAINT [FK_material_type] FOREIGN KEY([type_id])
REFERENCES [dbo].[material_type] ([type_id])
GO
ALTER TABLE [dbo].[material] CHECK CONSTRAINT [FK_material_type]
GO
ALTER TABLE [dbo].[material_replacement_detail]  WITH CHECK ADD  CONSTRAINT [FK__material___mater__5165187F] FOREIGN KEY([material_id])
REFERENCES [dbo].[material] ([material_id])
GO
ALTER TABLE [dbo].[material_replacement_detail] CHECK CONSTRAINT [FK__material___mater__5165187F]
GO
ALTER TABLE [dbo].[material_replacement_detail]  WITH CHECK ADD FOREIGN KEY([replacement_id])
REFERENCES [dbo].[material_replacement_record] ([replacement_id])
GO
ALTER TABLE [dbo].[material_replacement_record]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([employee_id])
GO
ALTER TABLE [dbo].[material_replacement_record]  WITH CHECK ADD FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([equipment_id])
GO
ALTER TABLE [dbo].[material_replacement_record]  WITH CHECK ADD  CONSTRAINT [FK__material___error__4D94879B] FOREIGN KEY([error_code])
REFERENCES [dbo].[error_list] ([error_code])
GO
ALTER TABLE [dbo].[material_replacement_record] CHECK CONSTRAINT [FK__material___error__4D94879B]
GO
ALTER TABLE [dbo].[role_permission]  WITH CHECK ADD  CONSTRAINT [FK_role_permission_permissionid] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permission] ([permission_id])
GO
ALTER TABLE [dbo].[role_permission] CHECK CONSTRAINT [FK_role_permission_permissionid]
GO
ALTER TABLE [dbo].[role_permission]  WITH CHECK ADD  CONSTRAINT [FK_role_permission_roleid] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[role_permission] CHECK CONSTRAINT [FK_role_permission_roleid]
GO
ALTER TABLE [dbo].[tuning_record]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([employee_id])
GO
ALTER TABLE [dbo].[tuning_record]  WITH CHECK ADD FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([equipment_id])
GO

-- 版控記錄
IF NOT EXISTS (SELECT 1 FROM [_migration_history] WHERE [version] = 'V001')
      INSERT INTO [_migration_history] ([version], [description])
      VALUES ('V001', 'create initial schema');